{% extends 'base.html' %}

{% block title %}Главное меню{% endblock %}

{% block content %}
    <h1>Главное меню</h1>
    <a href="{{url_for('query_bp.queries_menu')}}">Работа с запросами</a><br />
    <a href="{{url_for('report_bp.reports_menu')}}">Работа с отчётами</a><br />
    <a href="{{url_for('order_bp.basket_index')}}">Создать заказ</a><br />
    <a href="{{url_for('auth_bp.auth_index')}}">Авторизация</a><br />
    {% if auth_status %}
        <a href="{{url_for('exit_func')}}">Выход из системы</a> <br />
    {% endif %}
{% endblock %}
