{% extends 'base.html' %}

{% block title %}Поиск блюда{% endblock %}
{% block header %}
    <a class="header" href="{{url_for('query_bp.queries_menu')}}">Меню запросов</a>
{% endblock %}

{% block content %}
    <h2>Ввод параметров запроса:</h2>
    <form method="POST" action="">
        <label for="dish_name" id="query_input">Название блюда: </label>
        <input type="text" id="query_input" name="dish_name" required/>
        <br><br>
        <input type="submit" class="submit" id="query_input" value="Получить таблицу"/>
    </form>
{% endblock %}