{% extends 'base.html' %}

{% block title %}Поиск официанта{% endblock %}
{% block header %}
    <a class="header" href="{{url_for('query_bp.queries_menu')}}">Меню запросов</a>
{% endblock %}

{% block content %}
    <h2>Ввод параметров запроса:</h2>
    <form method="POST" action="">
        <label for="waiter_name" id="query_input">Имя официанта: </label>
        <input type="text" id="query_input" name="waiter_name" required/>
        <br><br>
        <input type="submit" class="submit" id="query_input" value="Получить таблицу"/>
    </form>
{% endblock %}